extends layout

block content

    h1 ID: #{bookinstance._id}

    p #[strong Title:]
        a(href=bookinstance.book.url)  #{bookinstance.book.title}
    p #[strong Imprint:] #{bookinstance.imprint}

    p #[strong Status:]
        if bookinstance.status=="Available"
            span.text-success  #{bookinstance.status}
        else if bookinstance.status=="Maintenance"
            span.text-danger  #{bookinstance.status}
        else
            span.text-warning  #{bookinstance.status}

    if bookinstance.status!="Available"
        p #[strong Due back:] #{bookinstance.due_back_formatted}

    hr
    p
        a(href=bookinstance.url+"/delete") Delete BookInstance
    p
        a(href=bookinstance.url+"/update") Update BookInstance