extends layout

block content
    h1= title

    form(method="POST" action="")
        div.form-group
            label(for="title") Title:
            input#title.form-control(type="text", placeholder="Name of book", name="title", required="true", value=(undefined===book ? "" : book.title) )
        div.form-group
            label(for="author") Author:
            select#author.form-control(type="select", placeholder="Select author", name="author", required="true" )
                for author in authors
                    if book
                        //- Handle GET form, where book.author is an object, and POST form, where it is a string
                        option(value=author._id selected=((author._id.toString()==book.author._id || author._id.toString()==book.author) ? "selected" : false)) #{author.name}
                    else
                        option(value=author._id) #{author.name}
        div.form-group
            label(for="summary") Summary:
            textarea#summary.form-control(type="textarea", placeholder="Summary", name="summary", rows="3", required="true") #{undefined===book ? "" : book.summary}
        div.form-group
            label(for="isbn") ISBN:
            input#isbn.form-control(type="text", placeholder="ISBN13", name="isbn", required="true", value=(undefined===book ? "" : book.isbn))
        div.form-group
            label Genre:
            div
                for genre in genres
                    div(style="display: inline; padding-right: 10px;")
                        input.checkbox-input(type="checkbox", name="genre", id=genre._id, value=genre._id, checked=genre.checked)
                        label(for=genre._id) #{genre.name}
        button.btn.btn-primary(type="submit") Submit

    if errors
        ul
            for error in errors
                li!= error.msg
