extends layout

block content
    h1 #{title}

    form(method="POST" action="")
        div.form-group
            label(for="name") Genre:
            input#name.form-control(type="text", placeholder="Fantasy, Poetry, etc." name="name" value=(undefined===genre ? "" : genre.name), required="true")
        button.btn.btn-primary(type="submit") Submit

    if errors
        ul
        for error in errors
            li!= error.msg