extends layout

block content
  h1= title
  p Welcome to #[em LocalLibrary], a very basic Express website developed as a tutorial example on the Mozilla Developer Network.
  p #[em Alain Suarez] completed this tutorial!

  h1 Dynamic content

  if error
    p Error getting dynamic content.
  else
    p The library has the following record counts:

    ul
      li #[string Books:] !{data.book_count}
      li #[string Copies:] !{data.book_instance_count}
      li #[string Copies available:] !{data.book_instance_available_count}
      li #[string Authors:] !{data.author_count}
      li #[string Genres:] !{data.genre_count}
